@model SimpleTaskManagerMVC.Models.SimpleTask

@{
    ViewData["Title"] = "Create";
}

<h4>Create New Task</h4>
<hr />
<form asp-action="Create" onsubmit="return validateForm()">  @* redirect to this page if data submitted on partial view was invalid *@
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table>
        <tr>
            <td width="25%">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </td>
            <td width="25%">
                <div class="form-group">
                    <label asp-for="DueDate" class="control-label"></label>
                    <input asp-for="DueDate" class="form-control datepicker-input" type="date" data-date-format="yyyy-mm-dd" onchange="checkDate()" />
                    <span asp-validation-for="DueDate" class="text-danger"></span>
                </div>
            </td>
            <td width="25%">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Completed" /> @Html.DisplayNameFor(model => model.Completed)
                    </label>
                </div>
            </td>
            <td width="25%">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </td>

        </tr>
    </table>
</form>

<div>
    <a asp-action="Index">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
